---
title: ADD-WEB
---





<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

     <%= image_tag 'bg1.jpg' %>

      <div class="carousel-caption">
        <h1>Add-Web : </h1>
    <p> L'AGENCE DE TOUS VOS PROJETS! <br> Vous avez un projet web ? La WebAgency vous aide à le réaliser! </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'bg2.jpg' %>
      <div class="carousel-caption">
      <h2>lorem</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloremque asperiores impedit! Tempora, quod libero possimus, tenetur aspernatur laboriosam consectetur ipsam earum, exercitationem nemo fuga commodi molestiae non minima harum.</p>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>











